body {
    background: #039BE5;
    font-family: "Roboto", sans-serif;
    margin: 0px;
}

.div-group {
    margin: 10px;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 5px;
}

.header {
    text-align: center;
    vertical-align: middle;
    height: 60px;
}

.textName {
    margin: 0px;
}

.header > .textName {
    margin: 10px;
    font-size: 2em;
    font-weight: bold;
}

.left {
    min-height: 300px;
    width: 300px;
    min-height: 300px;
    display: inline-block;
}

.right {
    min-height: 300px;
    width: calc(100% - 365px);
    float: right;
}

.searchBlock, .newFileBlock {
    margin: 5px 0px;
}

.newFileBlock {
    padding: 2px;
    background: #87CEFA;
}

.searchResultsBlock li:hover {
    color: blue;
    cursor: pointer;
}

#textUpload {
    width: 100%;
    margin-bottom: 5px;
}

.textContent > span {
    color: blue;
    cursor: pointer;
}